.reservation-btn {
    background-color: #f4ce14;
    border-radius: 16px;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    align-self: center;
    border: none;
    cursor: pointer;
}

.reservation-btn:hover {
    color: white;
}

.reservation-btn:disabled {
    background-color: darkgray;
    color: grey;
}